<a href="https://colab.research.google.com/github/Shradha11043/Python_training/blob/main/Shradha_Suman(21052873)_Python_training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Name:Shradha Suman(21052873)
#q1
bill = float(input("Enter bill amount: "))

if bill > 1000:
    print("20% discount")
    print("Pay:", bill - bill * 0.20)

elif bill > 500:
    print("10% discount")
    print("Pay:", bill - bill * 0.10)

else:
    print("No discount")
    print("Pay:", bill)

Enter bill amount: 67
No discount
Pay: 67.0

In [ ]:
#q2.
score = int(input("Enter the student's score: "))

if score >= 90 and score <= 100:
    print("Grade A")
elif score >= 70 and score <= 89:
    print("Grade B")
elif score >= 50 and score <= 69:
    print("Grade C")
else:
    print("Fail")

Enter the student's score: 56
Grade C

In [ ]:
#q3.
age = int(input("Enter age: "))

if age < 13:
    print("Child")
elif age <= 19:
    print("Teen")
elif age <= 59:
    print("Adult")
else:
    print("Senior")

Enter age: 66
Senior

In [ ]:
#q4.

num = int(input("Enter a number: "))

if num % 2 == 0 and num % 5 == 0:
    print("Even and divisible by 5")
elif num % 2 != 0 and num % 5 == 0:
    print("Odd and divisible by 5")
elif num % 2 == 0 and num % 5 != 0:
    print("Even and not divisible by 5")
else:
    print("Odd and not divisible by 5")

Enter a number: 54
Even and not divisible by 5

In [ ]:
#q5.
allowed_users = ['john', 'amy', 'sita']

# Take username as input
username = input("Enter your username: ")

# Check if username is allowed
if username in allowed_users:
    print("Login successful!")
else:
    print("Access denied.")

Enter your username: 54
Access denied.

In [ ]:
#q6.
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Compare the numbers
if num1 > num2:
    print("First number is greater.")
elif num2 > num1:
    print("Second number is greater.")
else:
    print("Both numbers are equal.")

Enter first number: 44
Enter second number: 6
First number is greater.

In [ ]:
#q7.
age = int(input("Enter your age: "))

if age >= 21:
    print("Eligible for voting and driving.")
elif age >= 18:
    print("Eligible for voting only.")
else:
    print("Not eligible for voting or driving.")

Enter your age: 54
Eligible for voting and driving.

In [ ]:
#q8.
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(year, "is a leap year.")
else:
    print(year, "is not a leap year.")

Enter a year: 2015
2015 is not a leap year.

In [ ]:
#q9.
allowed_users = ['john', 'amy', 'sita']
allowed_roles = ['admin', 'manager']

username = input("Enter username: ")
role = input("Enter role: ")

if username in allowed_users and role in allowed_roles:
    print("Login successful!")
else:
    print("Login failed.")

Enter username: 4
Enter role: 2
Login failed.

In [ ]:
#q10.
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Take operator as input
op = input("Enter an operator (+, -, *, /): ")

# Perform operation
if op == '+':
    print("Result:", num1 + num2)
elif op == '-':
    print("Result:", num1 - num2)
elif op == '*':
    print("Result:", num1 * num2)
elif op == '/':
    if num2 != 0:
        print("Result:", num1 / num2)
    else:
        print("Error: Cannot divide by zero.")
else:
    print("Invalid operator")

Enter first number: 43
Enter second number: 23
Enter an operator (+, -, *, /): +
Result: 66.0

In [ ]:
#q11.
temp = float(input("Enter temperature in °C: "))

if temp > 40:
    print("Heat Alert")
elif temp > 30:
    print("Warm")
else:
    print("Normal")\

Enter temperature in °C: 67
Heat Alert

In [ ]:
#q12.
password = input("Enter your password: ")

if len(password) >= 8 and '@' in password:
    print("Strong password")
else:
    print("Weak password")

Enter your password: 4
Weak password

In [ ]:
#q13.
balance = float(input("Enter your account balance: "))
amount = float(input("Enter withdrawal amount: "))

if amount <= balance and amount % 100 == 0:
    print("Withdrawal successful!")
else:
    print("Withdrawal failed. Check amount or balance.")

Enter your account balance: 54
Enter withdrawal amount: 8
Withdrawal failed. Check amount or balance.

In [ ]:
#q14.
num = int(input("Enter a number: "))

if num % 3 == 0 and num % 5 == 0:
    print("Divisible by both 3 and 5")
elif num % 3 == 0:
    print("Divisible only by 3")
elif num % 5 == 0:
    print("Divisible only by 5")
else:
    print("Not divisible by 3 or 5")

Enter a number: 6778
Not divisible by 3 or 5

In [ ]:
#q15.
n = ['pen', 'pencil', 'eraser']

product = input("Enter product name: ").lower()
if product in n:
    print("Product is available.")
else:
    print("Product not available.")

Enter product name: rfh
Product not available.

In [ ]:
#q16.
a = float(input("Enter side 1: "))
b = float(input("Enter side 2: "))
c = float(input("Enter side 3: "))

if a + b > c and b + c > a and a + c > b:
    print("Valid triangle")
else:
    print("Invalid triangle")

Enter side 1: 56
Enter side 2: 7
Enter side 3: 56
Valid triangle

In [ ]:
#q17.
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))

if a >= b and a >= c:
    print("Greatest number is:", a)
elif b >= a and b >= c:
    print("Greatest number is:", b)
else:
    print("Greatest number is:", c)

Enter first number: 5
Enter second number: 7
Enter third number: 9
Greatest number is: 9.0

In [ ]:
#q18.
mark = float(input("Enter the mark: "))

if 0 <= mark <= 100:
    print("Valid mark")
else:
    print("Invalid mark")

Enter the mark: 56
Valid mark

In [ ]:
#q19.
correct_username = "user123"
correct_password = "pass123"

# Input from user
username = input("Enter username: ")
password = input("Enter password: ")

# Check credentials
if username == correct_username and password == correct_password:
    print("Login successful!")
else:
    print("Login failed.")

Enter username: dfghj
Enter password: dfghjki87
Login failed.

In [ ]:
#Q20.
units = int(input("Enter units consumed: "))

if units <= 100:
    bill = units * 5
elif units <= 200:
    bill = units * 7
else:
    bill = units * 10

print("Total bill: ₹", bill)

Enter units consumed: 87
Total bill: ₹ 435